RewriteEngine On

# Redirect from non-www to www
RewriteCond %{HTTP_HOST} !^www\..* [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

# Enable Pretty Permalinks
RewriteBase /
RewriteRule ^([a-zA-Z0-9_-]+)/?$ index.php?page=$1 [L,QSA]